<!DOCTYPE html>
<html ng-app="AutomationTools">
  <head>
      <script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/MetricsController.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
      <title>QA automation tools - metrics</title>
  </head>
  <body>
    <div ng-include = "'static/html/menu.html'"></div>
      <div class = "ui two column grid" style = "margin-top:2px;margin-left:0px;" ng-controller = "MetricsController">
        <div class = "ui three wide column">
          <h4 class="ui top attached header">Список сотрудников</h4>
              <div class="ui attached segment" ng-repeat="user in users">
                <input
                  type="checkbox"
                  name="selectedUsers[]"
                  value="[[user.name]]"
                  ng-checked="selection.indexOf(user.name) > -1"
                  ng-click="toggleSelection(user.name)">
                  <label>[[user.name]] <div class="ui top right attached label" ng-click = "deleteUser(user.name)">удалить</div> </label>
              </div>
          <div class="ui form fluid buttom attached segment" style = "padding-bottom:1px">
            <form name = "addUserForm">
              <div class="">
                <div class="field">
                  <div class="ui action input">
                    <input value="" type="text" name = "userName" placeholder="Добавить сотрудника" ng-model = "newUser.name" ng-change = "checkUserName()">
                    <div class="ui purple right icon button" ng-click = "addUser(newUser)" ng-class = "addUserDisableClass"><i class="plus icon"></i></div>
                  </div>
                </div>
                <div class="field">
                </div>
              </div>                    
            </form>
          </div>
        </div>
        <div class = "column">
          <form name = "metricsForm" class= "ui form">
            <div class = "two fields">
              <div class="three wide field">
                Выберите месяц:
                <div class = "ui small input">
                  <input type="month" name = "date" ng-change = "updateWorkdaysCount(metrics.date)" ng-model = "metrics.date"/>
                </div>
              </div>
              <div class="four wide field" style = "margin-left:25px">
                Количество рабочих дней:
                <div class = "ui small input">
                  <input class = "mpopup" type="number" name = "days" min="1" max="31" ng-change = "checkWorkdays()" ng-model = "metrics.days" data-content="Переносы праздников не учитываются. При необходимости исправьте значение перед расчетом" data-position="right center"/>
                </div>
              </div>
            </div>
          </form>
          <table class="ui compact table">
            <thead>
              <tr>
                <th class = "theader-small">Сотрудник</th>
                <th class = "theader-small">Создано blocker + critical + major</th>
                <th class = "theader-small">Создано minor + trivial + improvements</th>
                <th class = "theader-small">Рабочее время (часов)</th>
                <th class = "theader-small">Требуемое рабочее время (часов)</th>
                <th class = "theader-small">Пропущено дней</th>
                <th class = "theader-small">Запланиро-<br>ванное время (OE)</th>
                <th class = "theader-small">Затраченное время (TS)</th>
                <th class = "theader-small">OE/TS</th>
                <th class = "theader-small">Качество логирования</th>
                <th class = "theader-small">Время на внутренние задачи</th>
                <th class = "theader-small">Занятость в тестировании</th>
                <th class = "theader-small">Создано замечаний</th>
                <th class = "theader-small">Скорость тестирования</th>
              </tr>
            </thead>
            <tbody>
              <tr class="item" ng-repeat = "m in gotmetrics">
                <td>[[m.user_id]]</td>
                <td>[[m.bugs_blocker + m.bugs_critical + m.bugs_major]]</td>
                <td>[[m.bugs_minor + m.bugs_trivial + m.improvements]]</td>
                <td>[[m.time_total/60/60 | limitTo: 5]] </td>
                <td>[[m.hours_required]]</td>
                <td>[[m.days_missed]]</td>
                <td>[[m.original_estimate/60/60 | limitTo: 5]]</td>
                <td>[[m.time_spent/60/60 | limitTo: 5]]</td>
                <td>[[m.oe_ts | limitTo: 5]]</td>
                <td>[[m.logging_quality | limitTo: 5]]</td>
                <td>[[m.time_internal/60/60 | limitTo: 5]]</td>
                <td>[[m.time_testing/60/60 | limitTo: 5]]</td>
                <td>[[m.issues_count]]</td>
                <td>[[m.testing_velocity | limitTo: 5]]</td>
              </tr>
              <tr class="warning item">
                <td>Сумма по отделу</td>
                <td>[[totalmetrics.bugs_blocker_critical_major]]</td>
                <td>[[totalmetrics.bugs_minor_trivial_improvements]]</td>
                <td>[[totalmetrics.time_total/60/60 | limitTo: 5]]</td>
                <td>[[totalmetrics.hours_required]]</td>
                <td>[[totalmetrics.days_missed]]</td>
                <td>[[totalmetrics.original_estimate/60/60 | limitTo: 5]]</td>
                <td>[[totalmetrics.time_spent/60/60 | limitTo: 5]]</td>
                <td>[[totalmetrics.oe_ts | limitTo: 5]]</td>
                <td>[[totalmetrics.logging_quality | limitTo: 5]]</td>
                <td>[[totalmetrics.time_internal/60/60 | limitTo: 5]]</td>
                <td>[[totalmetrics.time_testing/60/60 | limitTo: 5]]</td>
                <td>[[totalmetrics.issues_count]]</td>
                <td>[[totalmetrics.testing_velocity | limitTo: 5]]</td>
              </tr>
            </tbody>
          </table>
          <div class="ui small yellow message" ng-show = "showMetricsProgress" >[[metricsInfo]]</div>
          <div class="ui tiny purple button mpopup" ng-click = "getMetrics(metrics)" ng-class = "metricsDisableClass" data-content="Если метрики уже были расчитаны, значения будут обновлены" data-position="right center">Рассчитать метрики для выбранных пользователей за указанный месяц</div>
        </div>
      </div>
    </div>
  </body>
</html>