<!DOCTYPE html>
<html ng-app="AutomationTools">
  <head>
      <script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/MetricsController.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='semantic/semantic.min.js') }}"></script>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}" />
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" />
      <title>QA automation tools - metrics</title>
  </head>
  <body>
    <div ng-include = "'static/html/menu.html'"></div>
      <div class = "ui two column centered grid" style = "margin-top:10px;" ng-controller = "MetricsController">
        <div class = "ui three wide column">
          <h4 class="ui top attached header">Список сотрудников</h4>
              <div class="ui attached segment" ng-repeat="user in users">
                <input
                  type="checkbox"
                  name="selectedUsers[]"
                  value="[[user.name]]"
                  ng-checked="selection.indexOf(user.name) > -1"
                  ng-click="toggleSelection(user.name)"> [[user.name]] <div class="ui mini basic icon button" ng-click = "deleteUser(user.name)" style = "float:right"><i class="minus icon"></i></div>
              </div>
          <div class="ui form fluid buttom attached segment" style = "padding-bottom:1px">
            <form name = "addUserForm">
              <div class="">
                <div class="field">
                  <div class="ui action input">
                    <input value="" type="text" name = "userName" placeholder="Добавить сотрудника" ng-model = "newUser.name">
                    <div class="ui purple right icon button" ng-click = "addUser(newUser)"><i class="plus icon"></i></div>
                  </div>
                </div>
                <div class="field">
                </div>
              </div>                    
            </form>
          </div>

        </div>
        <div class = "column">
          <div class="ui tiny purple button" ng-click = "getMetrics()">Рассчитать метрики для выбранных пользователей</div>
        </div>
      </div>
    </div>

  </body>
</html>